#root {
  margin: 16px;
}

ul {
  display: flex;
  flex-direction: row; /* make children go left to right */
  flex-wrap: wrap;   
  gap: 16px;           
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
}

img {
  border-radius: 4px;
  margin-bottom: 8px;
}